.fpVP {
    position: absolute;
    top: 1243px;
    left: 391px;
    width: 23px;
    cursor: pointer;
}

.sfVP {
    position: absolute;
    top: 1268px;
    left: 391px;
    width: 23px;
    cursor: pointer;
}

.fpVP img, .sfVP img {
    width: 100%;
}