.board {
    width: 1903px;
}

.region {
    cursor: pointer;
}

.regionArmy {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.unitCount {
    margin-top: -5px;
}

.boardMap {
    width: 100%;
}

.unitsMenu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    width: 250px;
    top: 100px;
    right: 275px;
}

.AddNewUnitsMenu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    width: 250px;
    top: 100px;
    right: 550px;
}

.selectedUnit {
    cursor: pointer;
}

.selectableUnit {
    display: inline-block;
    margin: 2px;
    width: 45px;
    height: 54px;
}

.selected {
    border: 2px solid blue;
    border-radius: 5px;
}

.selectableUnitsBlock {
    padding: 2px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}