.fpRings {
    position: absolute;
    left: 416px;
    top: 25px;
    display: flex;
    background-color: #90acbc;
    padding: 5px;
    width: 110px;
    height: 34px;
}

.sfRings {
    position: absolute;
    left: 1489px;
    top: 1252px;
    display: flex;
    background-color: #b9563d;
    padding: 5px;
    width: 110px;
    height: 34px;
}

.ring:not(:last-of-type) {
    margin-right: 20px;
}

.ring {
    cursor: pointer;
}