.board {
    width: 1903px;
}

.region {
    cursor: pointer;
}

.regionArmy {
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

.regionArmy .unit {
    
    z-index: 2;
}

.unitCount {
    margin-top: -5px;
}

.boardMap {
    width: 100%;
}

.unitsMenu {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    width: 250px;
    top: 100px;
    right: 275px;
}

.AddNewUnitsMenu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: fixed;
    width: 250px;
    top: 100px;
    right: 550px;
}

.selectedUnit {
    cursor: pointer;
}

.selectableUnit {
    display: inline-block;
    margin: 2px;
    width: 45px;
    height: 54px;
}

.selected {
    border: 2px solid blue;
    border-radius: 5px;
}

.selectableUnitsBlock {
    padding: 2px;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.unit {
  position: relative;
  max-width: 55px;
  width: 50px;
  height: 65px;
}

.unit img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.unitCount {
  position: absolute;    
  top: 48px;
  left: 15px;
}

.fellowship-mordor {
    position: absolute;
    width: 49px;
}

.fellowship-mordor.track-1 {
    top: 981px;
    left: 1604px;
}

.fellowship-mordor.track-2 {
    top: 979px;
    left: 1666px;
}

.fellowship-mordor.track-3 {
    top: 945px;
    left: 1720px;
}

.fellowship-mordor.track-4 {
    top: 879px;
    left: 1708px;
}

.fellowship-mordor.track-5 {
    top: 847px;
    left: 1653px;
}

.fellowship-mordor.track-6 {
    top: 863px;
    left: 1590px;
}

.fellowship-mordor img {
    width: 100%;
}

.region-control-image {
    position: absolute;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    z-index: 1;
}

