.track3 {
    top: 392px;
    left: 1793px;
}

.track2 {
    top: 535px;
    left: 1793px;
}

.track1 {
    top: 670px;
    left: 1793px;
}

.track0 {
    top: 815px;
    left: 1793px;
}

.track {
    position: absolute;
    display: flex;
    width: 95px;
    height: 103px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #dad0c7;
}

.politics {
    padding: 5px;
    cursor: pointer;
}