.track3 {
    position: absolute;
    top: 400px;
    left: 1793px;
    display: flex;
    width: 92px;
    flex-wrap: wrap;
}

.track2 {
    position: absolute;
    top: 535px;
    left: 1793px;
    display: flex;
    width: 92px;
    flex-wrap: wrap;
}

.track1 {
    position: absolute;
    top: 670px;
    left: 1793px;
    display: flex;
    width: 92px;
    flex-wrap: wrap;
}

.track0 {
    position: absolute;
    top: 805px;
    left: 1793px;
    display: flex;
    width: 92px;
    flex-wrap: wrap;
}

.politics {
    padding: 5px;
    cursor: pointer;
}